* {
    list-style-type: none;
}

body {
    background-color: hsla(0, 0%, 100%, 0.75);
    padding: 45px 18px;
}

.card-1 {
    background-color: hsl(31, 77%, 52%);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 35px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    /* max-width: 300px; */

}

h1 {
    color: hsla(0, 0%, 100%, 0.75);

}

p {
    color: hsl(0, 0%, 95%);
    Font-size: 15px;
}

.card-1 button {
    background-color: hsla(0, 0%, 100%, 0.75);
    border: none;
    border-radius: 3em;
    padding: 9px 15px;
    color: hsl(31, 77%, 52%);
    transform: opacity 0.3;
}

button:active {
    opacity: 0.3s;
    background-color: brown;
}

.card-2 {
    background-color: hsl(184, 100%, 22%);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 35px;
    /* max-width: 300px; */
}

.card-2 button {
    background-color: hsla(0, 0%, 100%, 0.75);
    border: none;
    border-radius: 3em;
    padding: 9px 15px;
    color: hsl(184, 100%, 22%);
    transform: opacity 0.3;
}

button:active {
    opacity: 0.3s;
    background-color: brown;
}

.card-3 {
    background-color: hsl(179, 100%, 13%);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 36px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    /* max-width: 300px; */
}

.card-3 button {
    background-color: hsla(0, 0%, 100%, 0.75);
    border: none;
    border-radius: 3em;
    padding: 9px 15px;
    color: hsl(179, 100%, 13%);
    transform: opacity 0.3;
}

button:active {
    opacity: 0.3s;
    background-color: brown;
}

@media  screen and (min-width: 600px) {
    .container {
        margin-top: 74px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-1 {
        width: 15%;
        border-top-right-radius: 0;
    }

    .card-1 button {
        margin-top: 27px;
        width: 60%;
    }

    .card-2 {
        width: 15%;

    }

    .card-2 button {
        margin-top: 27px;
        width: 60%;
    }

    .card-3 {
        width: 14%;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .card-3 button {
        margin-top: 27px;
        width: 60%;
    }
}